<div class="modal face" id="modalVehicleStage" data-backdrop="false" data-background="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="frm_working_division" enctype="multipart/form-data" method="post" action="/vehicle/vehicle_stage/?cid={{cid}}">
                {% csrf_token %}
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title font-weight-bold" >Thực hiện công tác</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="text-center">
                        {% comment %} <span style="color:red; font-size:15px; font-weight:bold;">{{ j.content }}</span> {% endcomment %}
                    </div>
                    <div class="container_checkbox">
                        <div class="form-row" style="display: none;">
                            {{ form.status.label_tag }}
                            {{ form.status.errors }}
                            {{ form.status }}
                        </div>
                        <div class="form-row">
                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="form-group col-md-6">
                                {{ form.start_km.label_tag }}
                                {{ form.start_km.errors }}
                                {{ form.start_km }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.end_km.label_tag }}
                                {{ form.end_km.errors }}
                                {{ form.end_km }}
                            </div>
                        </div>
                        {% if is_crane %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form.crane_hour.label_tag }}
                                    {{ form.crane_hour.errors }}
                                    {{ form.crane_hour }}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form.generator_firing_hour.label_tag }}
                                    {{ form.generator_firing_hour.errors }}
                                    {{ form.generator_firing_hour }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-row">
                            
                            <div class="form-group col-md-6 img">
                                <label for="formGroupExampleInput">Hình ảnh odo bắt đầu</label>
                                {{form.start_odo_image}}
                                {% if form.start_odo_image %}
                                    <img src="{{ form.start_odo_image.url }}" class="img-fluid"/>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6 img">
                                <label for="formGroupExampleInput">Hình ảnh odo kết thúc</label>
                                {{form.end_odo_image}}
                                {% if form.end_odo_image %}
                                    <img src="{{ form.end_odo_image.url }}" class="img-fluid"/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="button" 
                        value="Lưu lại" 
                        class="default btn_stage_validate"
                        {% if disabled_save_btn %}
                            disabled
                        {% endif %}/>

                    <input type="submit" 
                        value="Lưu lại" 
                        class="default btn_stage_save"
                        style="display: none;">

                    {% if has_perm_work_perform %}
                        <button type="button" 
                            class="btn btn-primary btn-sm btn_stage_confirm" 
                            data-id={{ form.initial.id }} 
                            data-status={{ form.initial.status }}
                            {% if form.initial.status != 'NEW' or not disabled_confirm_btn %}
                                disabled
                            {% endif %}
                            >
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Xác nhận
                        </button>

                        <button type="button" 
                            class="btn btn-secondary btn-sm btn_stage_cancel" 
                            data-id={{ form.initial.id }} 
                            data-status={{ form.initial.status }}
                            {% if form.initial.status == 'NEW' %}
                                disabled
                            {% endif %}> 
                                Huỷ xác nhận
                        </button>
                    {% endif %}

                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i> Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $(document).ready(function() {
        // Adding attribute _blank to image link
        $(".img").find("a").attr("target", "_blank");

        // Remove checkbox to delete image
        $('input[type="checkbox"]').next('label[for="start_odo_image-clear_id"]').remove();
        $('input[type="checkbox"]').next('label[for="end_odo_image-clear_id"]').remove();

        $(".btn_stage_validate").on('click', function () {
            var start_km = $('#id_start_km').val();
            var end_km = $('#id_end_km').val();
            var fileInput = document.getElementById('id_start_odo_image');
            
            if (!start_km) {
                return Swal.fire(
                    'Cảnh báo!',
                    'Vui lòng nhập số km bắt đầu!',
                    'warning'
                )
            } 
            else if (fileInput.files.length == 0 && $("#start_odo_image-clear_id").length == 0) {
                return Swal.fire(
                    'Cảnh báo!',
                    'Vui lòng chọn ảnh!',
                    'warning'
                )
            } else {
                // Adding here
                if (start_km && end_km) {
                    if (parseFloat(start_km) > parseFloat(end_km)) {
                        return Swal.fire(
                            'Cảnh báo!',
                            'Số km bắt đầu không thể lớn hơn số km kết thúc!',
                            'warning'
                        )
                    }
                } 
                $(".btn_stage_save").click();
            }
        });

        // Action confirm "XÁC NHẬN" use two in one
        $(".btn_stage_confirm, .btn_stage_cancel").on('click', function () {
            var stage_id = $(this).attr("data-id");
            var status = $(this).attr("data-status");
            console.log(stage_id, status);

            Swal.fire({
                title: 'Bạn có chắc?',
                text: "Xác nhận giai đoạn công tác này!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: "/vehicle/vehicle_stage/confirm/",
                        type: "POST",
                        data: {
                            'stage_id': stage_id,
                            'status': status
                        },
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        success: function(resp) {
                            if (resp == "true") {
                                Swal.fire(
                                    'Xác nhận!',
                                    'Bạn đã xác nhận thành công!',
                                    'success'
                                )
                                location.reload();
                            } else if (resp == "cancel") {
                                Swal.fire(
                                    'Sorry!',
                                    'Bạn đã  huỷ xác nhận thành công!',
                                    'warning'
                                )
                            } else if (resp == "no_perm") {
                                Swal.fire(
                                    'Sorry!',
                                    'Bạn không có quyền xác nhận!',
                                    'warning'
                                )
                            } else if (resp == "no_valid") {
                                Swal.fire(
                                    'Cảnh báo!',
                                    'Vui lòng nhập đầy đủ thông tin!',
                                    'warning'
                                )
                            } else {
                                Swal.fire(
                                    'Sorry!',
                                    'Bạn đã xác nhận không thành công!',
                                    'warning'
                                )
                            }
                        },
                        error: function(xhr, status, error){
                            var errorMessage = xhr.status + ': ' + xhr.statusText
                            alert('Sorry - ' + errorMessage);
                        }
                    });
                    
                } 
            })
            
        });

    });
    
</script>