{% extends "admin/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'calender/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/sweetalert2/dist/sweetalert2.min.css' %}">
<style>
        #pills-tab li {
                list-style-type: none;
        }
        .form-row {
                display: block;
        }
        body {
                background-color: #f8fafc;
        }
</style>

<div id="content-main">
<form enctype="multipart/form-data" method="post" novalidate="">
        {% csrf_token %}
        
        
        <div>

                <div class="submit-row">

                        <input type="submit" value="Lưu lại" class="default">



                        <p class="deletelink-box"><button onclick="window.history.go(-1); return false;" class="button cancel-link">Trở về</button></p>

                </div>
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                        {{ error }}
                {% endfor %}
                </div>
                {% endif %}
                {% comment %} {{ form.non_field_errors }} {% endcomment %}

                {% comment %} {{ form.source.errors }} {% endcomment %}
                {% comment %} {{ form.source }} {% endcomment %}
                
                <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                        <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">THÔNG TIN LỊCH</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">ĐÍNH KÈM</a>
                        </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <fieldset class="module aligned  module_0 initialized selected">
                                <div class="form-row field-start_time">
                                
                                
                                        <div>
                                        
                                        
                                                {{ form.start_time.label_tag }}
                                                {{ form.start_time.errors }}
                                                {{ form.start_time }}
                                                
                                        
                                        
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-end_time">
                                
                                
                                        <div>
                                        
                                        
                                                {{ form.end_time.label_tag }}
                                                {{ form.end_time.errors }}
                                                {{ form.end_time }}
                                                <p class="help">{{ form.end_time.help_text }}</p>
                                        
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-location field-address">
                                
                                
                                        <div class="field-box field-location">
                                        
                                        
                                                {{ form.location.label_tag }}
                                                {{ form.location.errors }}
                                                {{ form.location }}
                                                
                                        
                                        </div>
                                
                                        <div class="field-box field-address">
                                        
                                        
                                                {{ form.address.label_tag }}
                                                {{ form.address.errors }}
                                                {{ form.address }}
                                                
                                        
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-chair_unit">
                                
                                
                                        <div>
                                                {{ form.chair_unit.label_tag }}
                                                {{ form.chair_unit.errors }}
                                                {{ form.chair_unit }}
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-join_quantity">
                                
                                        {{ form.join_quantity.errors }}
                                        <div>
                                                {{ form.join_quantity.label_tag }}
                                                {{ form.join_quantity }}
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-content">
                                
                                
                                        <div>
                                        
                                        
                                                {{ form.content.label_tag }}
                                                {{ form.content.errors }}
                                                {{ form.content }}
                                                <p class="help">{{ form.content.help_text }}</p>
                                        
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-requirement1 field-requirement2 field-requirement3">
                                
                                
                                        <div class="field-box field-requirement1">
                                        
                                                {{ form.requirement1 }}
                                                {{ form.requirement1.errors }}
                                                {{ form.requirement1.label_tag|cut:":" }}
                                        
                                        
                                        </div>
                                
                                        <div class="field-box field-requirement2">
                                        
                                        
                                                {{ form.requirement2 }}
                                                {{ form.requirement2.errors }}
                                                {{ form.requirement2.label_tag|cut:":" }}
                                        
                                        
                                        </div>
                                
                                        <div class="field-box field-requirement3">
                                        
                                        
                                                {{ form.requirement3 }}
                                                {{ form.requirement3.errors }}
                                                {{ form.requirement3.label_tag|cut:":" }}
                                        
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-requirement4 field-requirement5">
                                
                                
                                        <div class="field-box field-requirement4">
                                        
                                        
                                                {{ form.requirement4 }}
                                                {{ form.requirement4.errors }}
                                                {{ form.requirement4.label_tag|cut:":" }}
                                        
                                        </div>
                                
                                        <div class="field-box field-requirement5">
                                        
                                        
                                                {{ form.requirement5 }}
                                                {{ form.requirement5.errors }}
                                                {{ form.requirement5.label_tag|cut:":" }}
                                        
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-other_requirements">
                                
                                
                                        <div>
                                        
                                        
                                                {{ form.other_requirements.label_tag }}
                                                {{ form.other_requirements.errors }}
                                                {{ form.other_requirements }}
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-join_component field-other_component">
                                
                                
                                        <div class="field-box field-join_component">
                                        
                                        
                                                {{ form.join_component.label_tag }}
                                                {{ form.join_component.errors }}
                                                {{ form.join_component }}
                                                
                                                <p class="help">{{ form.join_component.help_text }}</p>
                                        
                                        </div>
                                
                                        <div class="field-box field-other_component">
                                        
                                        
                                                {{ form.other_component.label_tag }}
                                                {{ form.other_component.errors }}
                                                {{ form.other_component }}
                                        
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-prepare_unit field-other_prepare">
                                
                                
                                        <div class="field-box field-prepare_unit">
                                        
                                                {{ form.prepare_unit.label_tag }}
                                                {{ form.prepare_unit.errors }}
                                                {{ form.prepare_unit }}
                                                
                                                <p class="help">{{ form.prepare_unit.help_text }}</p>
                                                
                                        </div>
                                
                                        <div class="field-box field-other_prepare">
                                        
                                        
                                                {{ form.other_prepare.label_tag }}
                                                {{ form.other_prepare.errors }}
                                                {{ form.other_prepare }}
                                        
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-get_user">
                                
                                
                                        <div>
                                        
                                        {{ disableform.creater.label_tag }}
                                                
                                        {{ disableform.creater }}
                                        
                                        </div>
                                
                                </div>
                        
                                <div class="form-row field-get_department">
                                
                                
                                        <div>
                                        
                                        {{ disableform.department.label_tag }}
                                                
                                        {{ disableform.department }}
                                        
                                        </div>
                                
                                </div>
                                </fieldset>
                        </div>

                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="js-inline-admin-formset inline-group inline_0 initialized selected" id="multiplefile_set-group" data-inline-type="tabular" data-inline-formset="{&quot;name&quot;: &quot;#multiplefile_set&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;multiplefile_set&quot;, &quot;addText&quot;: &quot;Th\u00eam m\u1ed9t \u0110\u00ednh k\u00e8m &quot;, &quot;deleteText&quot;: &quot;G\u1ee1 b\u1ecf&quot;}}">
                                <div class="tabular inline-related last-related initialized">
                                <fieldset class="module ">
                                        <table>
                                        <thead>
                                                <tr>
                                                        <th class="original"></th>
                                                
                                                        <th>Đính kèm tệp
                                                        
                                                        </th>
                                                </tr>
                                        </thead>
                                                {{formset}}
                                        </table>
                                </fieldset>
                                </div>  </div>  
                        </div>  
                </div>

        </div>


        <div class="submit-row">

                <input type="submit" value="Lưu lại" class="default" name="_save">


                <p class="deletelink-box"><button onclick="window.history.go(-1); return false;" class="button cancel-link">Trở về</button></p>

        </div>


        <script type="text/javascript" id="django-admin-form-add-constants" src="/static/admin/js/change_form.js"></script>


        <script type="text/javascript" id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]"></script>

</form>
</div>
<script src="{% static 'calender/js/jquery.min-3.5.1.js' %}" type="text/javascript"></script>
<script src="{% static 'calender/js/bootstrap.min.js' %}" type="text/javascript"></script>
{% comment %} Main lib jquery.init.js for "django is not defined" {% endcomment %}
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{% static 'calender/js/date_change.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/switch-alert/sweetalert2.min.js' %}"></script>
<script>
        django.jQuery(document).ready(function () {
                // Xóa th label inline formset trùng do jet lib
                // django.jQuery("label").remove( ":contains('Xóa:')" );
                django.jQuery("tr:even").hide();
        });
</script>
{% endblock %}