
<footer class="section footer-backg footer-color">
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="padding-top: 20px;">
                <h4 class="headline" style="color:#ff9900;">CÔNG TY ĐIỆN LỰC QUẢNG NAM</h4><hr>
                <span><i class="fa fa-home"></i> Địa chỉ: 05 Trần Hưng Đạo, phường Tân Thạnh, thành phố Tam Kỳ, tỉnh Quảng Nam</span><br/>
                <span><i class="fa fa-phone"></i> Điện thoại: 84-235-2220201, Fax: 84-235-3852956</span><br/>
                <span><i class="fa fa-globe"></i> Website: <a href="https://pcquangnam.cpc.vn" target="_blank" style="color:#ff9900; margin:0 5px;">pcquangnam.cpc.vn</a><br>
                <span><i class="fa fa-envelope"></i> Email: <a href="https:pcquangnam@cpc.vn" target="_blank" style="color:#ff9900; margin:0 5px;">pcquangnam@cpc.vn</a></span>
            </div>
            <div class="col-md-2">
                <div class="pr-xl-4"><a class="brand"></div>
            </div>
            <div class="col-md-5" style="padding-top: 20px;">
                <h4 class="headline" style="color: #ff0047;">LIÊN KẾT</h4><hr>
                <ul class="nav-list" >
                    <li><a href="https://pcquangnam.cpc.vn/" target="_blank">Công ty Điện lực Quảng Nam</a></li>
                    <li><a href="http://cpc.vn/" target="_blank">Tổng công ty Điện lực Miền Trung</a></li>
                    <li><a href="http://evn.com.vn/" target="_blank">Tập đoàn Điện lực Việt Nam</a></li>
                    <li><a href="http://quangnam.gov.vn/" target="_blank">Cổng thông tin Quảng Nam</a></li>
                    <li><a href="http://baoquangnam.com.vn/" target="_blank">Báo Quảng Nam</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright" style="text-align: center;">
            <span style="color:#555; font-weight:bold; font-size:10px;">
                © 2020 Copyright: <a href="http://fixcom.vn/" target="_blank" style="font-weight:bold; font-size:12px; color:#007bff;"> fixcom.vn</a>
            </span>
        </div>
    </div>
</footer>